Gunicorn
dash==2.7.0
dash-bootstrap-components==1.2.1
dash-table==5.0.0
Flask==2.1.1
Flask-Compress==1.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.22.3
openpyxl==3.0.10
pandas==1.4.2
plotly==5.10.0
tenacity==8.0.1
Werkzeug==2.1.1
